@media (max-width: 1025px) {
    .container {
      padding:0;
      margin:0;
    }

    body {
      padding:0;
      margin: 0;
      width: 100%;
    }

}

body, html{
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Bree Serif', serif;
	width: 100%;
}

/*LOGIN*/
#login-container {
	margin: 0 auto;	
	z-index: 9999;
	width: 100%;
}

#login {
	height: 100%;
	min-width: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 999;
	background: rgba(255, 255, 255, 1);
	margin: 0;
}

#login-box {
	min-height: 50px;
	width: 80%;
	border:solid;
	margin: auto;
	margin-top: 5%;
	text-align: center;
}

#login-box input{
	display: block;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 30px;
	width: 50%;
	font-family: inherit;
	font-size: 20px;
}

#login-box .button-login{
	height: 35px;
	margin-top: 0;
}

#add-password{
	margin: 0;
	color: red;
	font-size: 15px;
}

#add-email {
	margin: 0;
	color: red;
	font-size: 15px;
}

#logout {
	display: inline-block;
	position: absolute;
	right: 20px;
	text-decoration: none;
	color: black;
}

#logout-message {
	margin-left: 30%;
	margin-right: 30%;
	border: solid #acdae7;
	font-size: 20px;
}

#logout-message p {
	margin-top: 5px;
	margin-bottom: 5px;
}

/*APP*/
#container {
	position: relative;
	text-align: center;
	margin: 0 auto;
	width: 60%;
	min-width: 530px;
	border: solid 0.1px white;
}

#header {
	margin-top: 100px;
}

#todo-input {
	height: 40px;
	width: 70%;
	font-size: 20px;
	border-radius: 2px;
	border: solid gray 0.1px;
	margin-bottom: 40px;
	padding-left: 15px;
}

#todo-list {
	width: 100%;
	min-height: 50px;
	margin-bottom: 60px;
}

#todo-list li {
	list-style: none;
}

#todo-list li div.todo {
	position: relative;
	margin: 0 auto;
	min-height: 40px;
	width: 75%;
	text-align: left;
}

#todo-list li div.todo img {
	height: 25px;
	opacity: 0.1;
}

#todo-list li div.todo img:hover {
	cursor: pointer;
}

#todo-list li div.todo img.completed {
	opacity: 1;
}

#todo-list li div.todo-completed p {
	text-decoration-line: line-through;
	opacity: 0.7;
}

#todo-list li div.todo p {
	font-size: 25px;
	margin: 5px;
	display: inline;
	margin-right: 20px;
}

#todo-list li div.todo img.delete {
	height: 15px;
	position: absolute;
	right: -15px;
	top: 10px;
	opacity: 0;
}

#todo-list li div.todo:hover img.delete {
	opacity: 0.7;
}

#todo-list li div.todo:hover img.delete:hover {
	opacity: 1;
}

#container footer {
	height: 50px;
	width: 100%;
	border-top: solid 0.2px;
	position: absolute;
	bottom: 0px;
}

#container footer ul {
	list-style-type: none;
    margin: 0;
    padding: 0;

}

#container footer ul li {
	display:inline;
	padding: 2%;
}

#container footer ul li.filter:hover {
	background-color: #E8D9C5;
	border-radius: 3px;
	cursor: pointer;
}

#container footer ul li a{
	text-decoration: none;
	color: inherit;
}

#container footer ul li:first-child {
	display:inline;
	padding-right: 10%;
}

#container footer ul li:last-child {
	display:inline;
	padding-left: 10%;
}

#container footer ul li a, p {
	display: inline-block;
}