body, html{
	height: 100%;
	overflow: hidden;
}

body {
	font-family: 'Bree Serif', serif;
}

#container {
	text-align: center;
	margin: 0 auto;
	height: 90%;
	width: 60%;
	border: solid;
}

#header {
	margin-top: 100px;
}

#todo-input {
	height: 40px;
	width: 70%;
	font-size: 20px;
	border-radius: 2px;
	border: solid gray 0.1px;
	margin-bottom: 40px;
	padding-left: 15px;
}

#todo-list {
	width: 100%;
	min-height: 50px;
	/*border:solid;*/
}

#todo-list li {
	list-style: none;
}

#todo-list li div.todo {
	position: relative;
	margin: 0 auto;
	height: 40px;
	width: 75%;
	text-align: left;
}

#todo-list li div.todo img {
	height: 25px;
	opacity: 0.1;
}

#todo-list li div.todo img.completed {
	opacity: 1;
}

#todo-list li div.todo-completed p {
	text-decoration-line: line-through;
}

#todo-list li div.todo p {
	font-size: 25px;
	margin: 5px;
	display: inline;
}

#todo-list li div.todo img.delete {
	height: 15px;
	position: absolute;
	right: 5px;
	top: 10px;
	opacity: 0;
}

#todo-list li div.todo:hover img.delete {
	opacity: 1;
}